<div class="dice-roll mm3-roll">
    <div class="dice-result">
        {{#if tgtName}}
            <div class="dice-total formula tgtName" style="padding: 4px 8px; background-color: transparent; color: #333; margin: 0; display: flex; align-items: center; font-size: 13px; font-weight: 500; border: none;">
                <img src="{{tgtImage}}" style="width: 40px; height: auto; max-height: 40px; border-radius: 3px; margin-right: 8px; object-fit: contain;">attacks {{tgtName}}
            </div>
        {{/if}}
        {{#if flavor}}
        <h4 class="dice-total flavor">{{flavor}}</h4>
        {{/if}}
        {{#if formula}}
            <h4 class="dice-total formula">{{formula}}</h4>
        {{/if}}
        {{#if tooltip}} {{{tooltip}}} {{/if}}
        {{#if result}}
        <h4 class="dice-total result">
            {{#if isCombat}}
                <span style="background-color: #aaa; color: black; padding: 1px 4px; border-radius: 2px; margin: 0 2px;">{{result}}</span>
                {{#if defense}}
                    vs <span style="background-color: #aaa; color: black; padding: 1px 4px; border-radius: 2px; margin: 0 2px;">{{defense}}</span> {{type}}
                {{else if btn}}
                    vs DC <span style="background-color: #aaa; color: black; padding: 1px 4px; border-radius: 2px; margin: 0 2px;">{{btn.0.vs}}</span> {{btn.0.saveType}}
                {{/if}}
            {{else}}
                <span style="background-color: #aaa; color: black; padding: 1px 4px; border-radius: 2px; margin: 0 2px;">{{result}}</span>{{#if vs}} vs <span style="background-color: #aaa; color: black; padding: 1px 4px; border-radius: 2px; margin: 0 2px;">{{vs}}</span>{{/if}}
            {{/if}}
        </h4>
        {{/if}}
        {{#if isCritique}}
        <h4 class="dice-total result critique">
            {{localize "MM3.ROLL.Critique"}} !
        </h4>
        {{/if}}
        {{#if isCombat}}
            {{#if result}}
            <h4 class="dice-total attack">
                {{#if isSuccess}}
                    {{localize "MM3.ROLL.AttSuccess"}}
                {{else}}
                    {{localize "MM3.ROLL.AttFail"}}
                {{/if}}
            
            <div class="dice-tooltip dataAttack toHide">
                <div class="inner">
                    <span>{{type}} : {{defense}}</span>
                </div>
            </div>
            {{#if btn}}
            <div class="dice-tooltip dataAttack">
                <div class="inner">
                    <span>vs DC: {{btn.0.vs}}</span>
                </div>
            </div>
            {{/if}}
            {{/if}}
            {{#if isSuccess}}
                {{#if degreSuccess}}
                <div class="dice-tooltip dataAttack">
                    <div class="inner">
                        <span>{{singularOrPlural degreSuccess 'success'}} : {{degreSuccess}}</span>
                    </div>
                </div>
                {{/if}}

                {{#each btn as | key dBtn |}}
                    <div class="btn">
                        <button class="btnRoll" data-type="{{key.typeAtk}}" data-target="{{key.target}}" data-savetype="{{key.saveType}}" data-vs="{{key.vs}}" data-dAtk="{{@root/dataAtk}}" data-dStr="{{@root/dataStr}}">
                            {{#if key.label}}{{key.label}}{{else}}{{translate 'jetdefenses' key.saveType}}{{/if}} (DC {{key.vs}})
                        </button>
                        {{#if (and key.typeAtk (gt @root/btn.length 1))}}
                            <div style="text-align: center; font-size: 12px; color: #666; text-transform: capitalize; line-height: 1; margin-top: 0px; margin-bottom: 2px;">{{key.typeAtk}}</div>
                        {{/if}}
                    </div>
                {{/each}}
            {{/if}}
        {{/if}}
        {{#if vs}}
            <h4 class="dice-total attack">
                {{#if isSuccess}}
                    {{localize "MM3.ROLL.Success"}}
                {{else}}
                    {{localize "MM3.ROLL.Fail"}}
                {{/if}}
            </h4>
            <div class="dice-tooltip dataAttack toHide">
                <div class="inner">
                    <span>{{localize "MM3.ROLL.DD"}} : {{vs}}</span>
                </div>
            </div>
            <div class="dice-tooltip dataAttack">
                <div class="inner">
                    <span>DC: {{vs}}</span>
                </div>
            </div>
            {{#if hasMarge}}
            <h4 class="dice-total attack">
                {{singularOrPlural resultMarge successOrFail}} : <span style="background-color: #aaa; color: black; padding: 1px 4px; border-radius: 2px; margin: 0 2px;">{{resultMarge}}</span>
            </h4>
            {{/if}}
            {{#if appliedConditions}}
                {{#each appliedConditions}}
                <h4 class="dice-total attack">
                    {{../tgtName}} is {{this}}!
                </h4>
                {{/each}}
            {{/if}}
            {{#each btn as | key dBtn |}}
                <div class="btn">
                    <button class="btnRoll" data-type="{{key.typeAtk}}" data-target="{{key.target}}" data-savetype="{{key.saveType}}" data-vs="{{key.vs}}" data-dAtk="{{@root/dataAtk}}" data-dStr="{{@root/dataStr}}">
                        {{translate 'jetdefenses' key.saveType}} (DC {{key.vs}})
                    </button>
                </div>
            {{/each}}
        {{/if}}
        {{#if effet}}
            <h4 class="dice-total attack">
                {{localize "MM3.DEFENSE.DDDefense"}} : {{effet}}
            </h4>
        {{/if}}
        {{#if specialBtn}}
            <div class="btn special">
                {{#each specialBtn}}
                    <button class="btnBlessure" data-type="{{type}}" data-target="{{tgt}}">
                        {{label}}
                    </button>
                {{/each}}
            </div>
        {{/if}}
        {{#if text}}
            <span class="text">{{text}}</span>
        {{/if}}
        <h4 class="bottom"></h4>
    </div>
</div>